body{
    background-color: #1C1C1C;
}
.container{
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #1C1C1C;
}
.value{
    width: 65%;
    border-radius: 0;
    background-color: #1C1C1C;
    text-align: end;
    font-size: 50px;
}
input{
    width: 19%;
    height: 5.5rem;
    border-radius: 50%;
    margin-left: 2%;
    text-align: center;
    border: none;
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: xx-large;
    color: aliceblue;
    background-color: #505050;
}
.zero{
    width: 44%;
    border-radius: 50px;
    text-align: left;
    padding-left: 5%;
}
.operation{
    color: black;
    background-color: #D4D4D2;
}
.sign{
    background-color: #FF8C00;
}
@media(min-width: 600px) {
    input{
        width: 12%;
        height: 6rem;
    }
    .zero{
        width: 26%;
    }
}
@media(min-width: 1000px) {
    input{
        width: 8%;
        height: 6rem;
    }
    .zero{
        width: 18%;
    }
}

